{% extends 'builders/base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
  <div class="col-md-4">
    <h1 class="fs-2 fw-normal mb-3">Reset Password</h1>
    <form method="POST">
      <div class="mb-3">
        <div class="form-floating">
          <input class="form-control" type="password" id="password" name="password" placeholder="Password" autocomplete="new-password" minlength="8" aria-describedby="passwordHelp" required>
          <label for="password">Password</label>
        </div>
        <div class="form-text" id="passwordHelp">At least 8 characters.</div>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" type="password" id="passwordRepeat" name="passwordRepeat" placeholder="Password Repeat" autocomplete="new-password" minlength="8" required>
        <label for="passwordRepeat">Repeat Password</label>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}
