{% extends 'builders/base.html' %}

{% block title %}Network{% endblock %}
{% set dataType = "network" %}

{% block scriptsHead %}
{% endblock %}

{% block content %}
  <div class="col-11 text-center"> 
    <p class="fs-1 fw-bold">Starlink Network</p>
    <div class="row row-cols-1 row-cols-md-5 mb-5 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <p class="card-title fs-5">IP Address</p>
            <p class="card-text fs-3">{{ userNetwork['ip'] }}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <p class="card-title fs-5">ISP</p>
            <p class="card-text fs-3">{{ userNetwork['isp'] }}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <p class="card-title fs-5">PoP</p>
            <p class="card-text fs-3">{{ userNetwork['pop'] }}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <p class="card-title fs-5">Country</p>
            <p class="card-text fs-3">{{ userNetwork['country'] }}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <p class="card-title fs-5">City</p>
            <p class="card-text fs-3">{{ userNetwork['city'] }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <p class="fs-2"><span style="color: #627BC1">IPv4</span> / <span style="color: #C77416">IPv6</span></p>
      <p class="fs-5">Global rollout progress</p>
      <iframe src="{{ url_for('network.mapbox') }}" title="IPv4/IPv6 Rollout Map" height="900"></iframe>
    </div>
  </div>
{% endblock %}

{% block scriptsBody %}
{% endblock %}