{% block title %}Network - Mapbox{% endblock %}
{% set dataType = "network" %}

{% block scriptsHead %}
  <script src="{{ url_for('static', filename='js/mapbox-gl.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mapbox-gl.css') }}"/>
  <style>
    #map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
{% endblock %}

{% block content %}
    <div id="comparison-container">
        <div id="mapIpv4" class="map"></div>
        <div id="mapIpv6" class="map"></div>
    </div>
{% endblock %}

{% block scriptsBody %}
  <style>       
    .map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }
  </style>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-compare/v0.4.0/mapbox-gl-compare.js"></script>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-compare/v0.4.0/mapbox-gl-compare.css" type="text/css">
  
  <script>
    mapboxgl.accessToken = "{{ mapboxKey }}";
    var mapIpv4 = new mapboxgl.Map({
      container: 'mapIpv4',
      style: 'mapbox://styles/mapbox/light-v10',
      minZoom: 1.7,
      zoom: 1.7,
      center: [18, 35]
    });
    
    // Layer sources
    mapIpv4.on('load', function() {
      mapIpv4.addSource('countries', {
        'type': 'vector',
        'url': "mapbox://mapbox.country-boundaries-v1",
        });

      // Layer colour fills
      mapIpv4.addLayer({
        'id': 'countries-fills',
        'type': 'fill',
        'source': 'countries',
        'source-layer': 'country_boundaries',
        'paint': {
          'fill-color': '#627BC1',
          'fill-opacity': 0.8
        },
        filter: [
          "in",
          "iso_3166_1",
          '{{ countriesIpv4 }}'
          ]
        });
      
      // Layer borders
      mapIpv4.addLayer({
        'id': 'countries-borders',
        'type': 'line',
        'source': 'countries',
        'source-layer': 'country_boundaries',
        'layout': {},
        'paint': {
          'line-color': '#627BC1',
          'line-width': 1.5
        }
      });   
    });

    var mapIpv6 = new mapboxgl.Map({
      container: 'mapIpv6',
      style: 'mapbox://styles/mapbox/light-v10',
      minZoom: 1.7,
      zoom: 1.7,
      center: [18, 35]
    });
    
    // Layer sources
    mapIpv6.on('load', function() {
      mapIpv6.addSource('countries', {
        'type': 'vector',
        'url': "mapbox://mapbox.country-boundaries-v1",
        });

      // Layer colour fills
      mapIpv6.addLayer({
        'id': 'countries-fills',
        'type': 'fill',
        'source': 'countries',
        'source-layer': 'country_boundaries',
        'paint': {
          'fill-color': '#C77416',
          'fill-opacity': 0.8
        },
        filter: [
          "in",
          "iso_3166_1",
          '{{ countriesIpv6 }}'
          ]
        });
      
      // Layer borders
      mapIpv6.addLayer({
        'id': 'countries-borders',
        'type': 'line',
        'source': 'countries',
        'source-layer': 'country_boundaries',
        'layout': {},
        'paint': {
          'line-color': '#C77416',
          'line-width': 1.5
        }
      });   
    });

    const container = '#comparison-container';
    const map = new mapboxgl.Compare(mapIpv4, mapIpv6, container, {
      // Set this to enable comparing two maps by mouse movement:
      // mousemove: true
    });
  </script>
{% endblock %}