{% extends 'builders/base.html' %}
{% set active_page = "error" %}
{% block title %}Starlink Firmware{% endblock %}

{% block scriptsHead %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.all.css') }}">
{% endblock %}

{% block content %}
<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        <div class="container-fluid">
            <div class="text-center mt-5">
                <div class="error mx-auto" data-text="Error">
                    <p class="m-0">Error</p>
                </div>
                {% if dash %}
                <p class="text-black-50 mb-0">
                    {% if error %}
                        <div class="text-center">        
                            <p class="text-dark mb-4">{{ error }}</p>  
                        </div>  
                    {% endif %}</p><a href="{{ url_for('main.dashboard') }}">← Back to Dashboard</a>
                {% else %}
                <p class="text-black-50 mb-0">{% if error %}
                    <div class="text-center">        
                        <p class="text-dark mb-4">{{ error }}</p>  
                    </div>  
                {% endif %}</p><a href="{{ url_for('main.index') }}">← Back to Home</a>
                {% endif %}
            </div>
        </div>
    </div>
</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
{% endblock %}

{% block bodyScripts %}
{% endblock %} 