{% extends 'builders/base.html' %}

{% block title %}Home{% endblock %}

{% block scriptsHead %}
{% endblock %}

{% block content %}
  <div class="col-11 text-center">
    <p class="fs-1 fw-bold">Starlink Data Tracker</p>
    <p class="fs-3">Community maintained database for Starlink data</p>
    <!-- {% if welcomeMessageCookie == 'false' %}
      <div class="alert alert-primary" role="alert">
        <p class="fs-5"><a style="text-decoration: none" href="#">message</a></p>
      </div>
    {% endif %} -->
    <br><br><br><br>
    <div class="row row-cols-2 row-cols-md-4 g-4 justify-content-center">
      <div class="col">
        <div class="card">       
          <img src="{{ url_for('static', filename='img/main/firmware.jpg') }}" class="card-img" alt="firmware">
          <div class="card-footer"><p class="fs-5">Firmware</p></div>
          <a href="{{ url_for('firmware.index') }}" class="stretched-link"></a>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="{{ url_for('static', filename='img/main/speedtests.jpg') }}" class="card-img" alt="speedtests">
          <div class="card-footer"><p class="fs-5">Speedtests</p></div>
          <a href="{{ url_for('speedtest.index') }}" class="stretched-link"></a>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="{{ url_for('static', filename='img/main/network.jpg') }}" class="card-img" alt="network">
          <div class="card-footer"><p class="fs-5">Network</p></div>
          <a href="{{ url_for('network.index') }}" class="stretched-link"></a>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="{{ url_for('static', filename='img/main/shop.jpg') }}" class="card-img" alt="shop">
          <div class="card-footer"><p class="fs-5">Shop</p></div>
          <a href="{{ url_for('shop.index') }}" class="stretched-link"></a>
        </div>
      </div>
    </div>

    <!-- <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    <script>
      kofiWidgetOverlay.draw('alimicky', {
          'type': 'floating-chat',
          'floating-chat.donateButton.text': '',
          'floating-chat.donateButton.background-color': '#f45d22',
          'floating-chat.donateButton.text-color': '#fff'
      });
    </script> -->
    <br>
    {% include 'builders/footer.html' %}
  </div>
{% endblock %}