{% extends 'builders/base.html' %}

{% block title %}Starlink Firmware ~ Info{% endblock %}

{% block scriptsHead %}
{% endblock %}

{% block content %}
  <div class="col-9">
    <div class="row mb-3">
      <h2 class="pb-2 border-bottom">Information</h2>
      <p>This website collects information on versions of Starlink firmware, software, and hardware revisions. Starlink does not provide this information themselves, this is crowdsourced data. Any information here is not authoritative and could be incorrect.</p>
      <p>Feel free to add new firmware versions. Please do not vandalize.</p>
      <p>Access a user location install map <a class="text-decoration-none" href="https://www.google.com/maps/d/viewer?mid=13Ny9oD8XRlsSYAwSRhM67vg7MePmTBxB&ll=0.9693652147468512%2C0&z=2" target="_blank">here</a>.</p>
      <p>Download the database backup by clicking <a class="text-decoration-none" href="{{ url_for('main.database') }}" target="_blank">here</a>.</p>
    </div>

    <div class="row mb-3 pt-3">
        <h2 class="pb-2 border-bottom">Contact</h2>
        <p>This app contains data submitted by many users. The original <a class="text-decoration-none" href="https://docs.google.com/spreadsheets/d/1nsdLZ34VVX1qNVlDlAErzLov-fb_ZWgpYAQJWp_W8ic/edit#gid=383580049" target="_blank">spreadsheet</a> was maintained by Nelson Minar, the web application is by Micky.</p>
        <p>For any inquiries (feedback, bugs, incorrect information), contact us on Discord with 'Micky#6815' or send an email to 'help@starlinkversions.com'</p>
    </div>

    <div class="row mb-3 pt-3">
      <h2 class="pb-2 border-bottom">Useful Links</h2>
      <div class="row p-2 row-cols-1 row-cols-lg-2">
        <div class="feature col">
          <div class="feature-icon">
            <img src="{{ url_for('static', filename='img/reddit.png') }}" width="75px">
          </div>
          <h2><a class="text-decoration-none" href="https://www.reddit.com/r/Starlink" target="_blank">Starlink Subreddit</h2></a>
          <p>News, images/videos and discussions related to Starlink. Discuss new versions here.</p>
        </div>
        <div class="feature col">
          <div class="feature-icon">
            <img src="{{ url_for('static', filename='img/discord.png') }}" width="75px">
          </div>
          <h2><a class="text-decoration-none" href="https://discord.gg/Rr2u4ystEe" target="_blank">Starlink Discord</a></h2>
          <p>A place to chat about Starlink news as a secondary resource to the subreddit.</p>
        </div>
      </div>
      
      <div class="row p-2 row-cols-1 row-cols-lg-2">
        <div class="feature col">
          <div class="feature-icon">
            <img src="{{ url_for('static', filename='img/starlink-sx.png') }}" width="75px">
          </div>
          <h2><a class="text-decoration-none" href="https://starlink.sx" target="_blank">Starlink Coverage Tracker</a></h2>
          <p>Starlink orbital maps and constellation status.</p>
        </div>
        <div class="feature col">
          <div class="feature-icon">
            <img src="{{ url_for('static', filename='img/starlink-status.png') }}" width="75px">
          </div>
          <h2><a class="text-decoration-none" href="https://starlinkstatus.space/" target="_blank">Starlink Status</a></h2>
          <p>Community based Starlink Statistics around the World.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}