{% extends 'builders/base.html' %}

{% block title %}Account{% endblock %}

{% block content %}
  <div class="col-10">
    <p class="fs-2">Account</p>
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col">
        <div class="card shadow mb-3">
          <div class="card-header">
            User settings
          </div>        
          <div class="card-body">
            <form method="POST">
              <div class="form-floating mb-3">
                <input class="form-control" type="Email" name="Email" placeholder="Email" value="{{ userDetails['email'] }}" autocomplete="off" disabled>
                <label for="Email">Email</label>
              </div>

              <div class="form-floating mb-3">
                <input class="form-control" type="username" name="username" placeholder="Username" value="{{ userDetails['username'] }}" autocomplete="off">
                <label for="username">Username</label>
              </div>

              <div class="form-floating mb-3">
                <select class="form-select" id="timezone" name="timezone">
                  <option value="{{ userDetails['time_zone'] }}">{{ userDetails['time_zone'] }}</option>
                  {% for timezone in timezones %}
                    <option value="{{ timezone }}">{{ timezone }}</option>
                  {% endfor %}
                </select>
                <label for="timezone" class="col-sm-2 col-form-label">Time Zone</label>
              </div>
                            
              <div class="col mb-3">
                <button type="submit" class="btn btn-primary" name="btn" value="user">Submit</button>
                <button type="button" class="btn btn-danger float-end" data-bs-toggle="modal" data-bs-target="#deleteUserModal">Delete User</button>               
              </div>
            </form>
          </div>
        </div>

        <div class="card shadow mb-3">
          <div class="card-header">
            API Keys
          </div>
          <div class="card-body">
              {% for apiKey in userApiKeys %}
                <form method="POST">
                  <div class="input-group form-floating mb-3">
                    <input class="form-control font-monospace" type="text" name="apiKey" placeholder="Key" value="{{ apiKey['key'] }}" autocomplete="off" readonly>
                    <label for="apiKey">{{ apiKey['name'] }}</label>
                    <button type="submit" class="btn btn-danger" name="btn" value="api-key-delete">Delete</button>
                  </div>
                </form>
              {% endfor %}

            <form method="POST">
              <div class="input-group form-floating mb-3">
                <input class="form-control" type="text" name="apiKeyNewName" placeholder="Name" autocomplete="off" required>
                <label for="apiKeyNewName">Name</label>
                <button type="submit" class="btn btn-primary" name="btn" value="api-key-new">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow mb-3">
          <div class="card-header">
            Speedtest Settings
          </div>   
          <div class="card-body">
            <form method="POST">
              <label for="discordId" class="form-label">Enter your Discord user ID here to link all speedtests submitted via Discord to your account. <a href="https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID-" target="_blank" style="text-decoration: none;">Help</a></label>
              <div class="form-floating mb-3">
                <input class="form-control" type="text" name="discordId" placeholder="Discord ID" value="{{ userDetails['discord_id'] }}" autocomplete="off">
                <label for="discordId">Discord ID</label>
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-primary" name="btn" value="speedtest">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <form method="POST">
            <div class="modal-content">
              <div class="modal-header">
                <p class="modal-title fs-5">Delete User</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete your account?</p>
                <p>Your account details will be removed, any submitted data such as speedtest results will NOT be deleted.</p>
                <div class="form-floating">
                  <input class="form-control" type="text" name="email" placeholder="name@example.com" pattern="{{ userDetails['email'] }}" required>
                  <label for="email">Email Address</label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" name="btn" value="delete-user">Delete</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}