{% extends 'builders/base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
  <div class="col-md-4">
    <p class="fs-2">Forgot Password</p>
    <form method="POST">   
      <div class="form-floating mb-3">
        <input class="form-control" type="email" name="email" placeholder="name@example.com" required>
        <label for="email">Email Address</label>
      </div>      
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}