{% extends 'builders/base.html' %}

{% block title %}Register{% endblock %}

{% block scriptsHead %}
  <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
{% endblock %}

{% block content %}
  <div class="col-4">
    <p class="fs-2">Register</p>
    <form method="POST">   
      <div class="form-floating mb-3">
        <input class="form-control" type="email" name="email" placeholder="name@example.com" required>
        <label for="email">Email Address</label>
      </div>    
      <div class="form-floating mb-3">
        <input class="form-control" type="username" name="username" placeholder="Username" required>
        <label for="username">Username</label>
      </div>    
      <div class="form-floating mb-3">
        <input class="form-control" type="password" name="password" placeholder="Password" required>
        <label for="password">Password</label>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" type="password" name="passwordRepeat" placeholder="Password Repeat" required>
        <label for="passwordRepeat">Password Repeat</label>
      </div>
      <div class="row mb-3">
        <div class="h-captcha" data-sitekey="aafc7d0b-a725-4505-b869-151b26246ef2"></div>
      </div>
      <div class="row mb-3">
        <p>Already have an account? <a href="{{ url_for('auth.login') }}" class="text-decoration-none">Log In</a></p>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}