{% extends 'builders/base.html' %}
{% set active_page = "404" %}
{% block title %}Error{% endblock %}

{% block scriptsHead %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container-fluid">
                <div class="text-center mt-5">
                    <div class="error mx-auto" data-text="404">
                        <p class="m-0">404</p>
                    </div>
                    <p class="text-dark mb-5 lead">Page Not Found</p>
                    <p class="text-black-50 mb-0">It looks like you found a glitch in the matrix...</p><a href="{{ url_for('main.index') }}">← Back to Home</a>
                </div>
            </div> 
        </div>
    </div>
{% endblock %}

{% block bodyScripts %}
{% endblock %} 