{% extends 'builders/base.html' %}

{% block title %}Info{% endblock %}

{% block scriptsHead %}
{% endblock %}

{% block content %}
  <div class="col-9">
    <div class="row mb-3" id="privacy_policy">
      <p class="fs-2 border-bottom">Privacy Policy</p>
      <p> 
        We value your privacy and are committed to protecting your personal information. This policy explains how we collect, use, and safeguard your data when you use our website.
        Information We Collect
            Personal Information: We may collect your name, email address, or other contact details if you voluntarily provide them through forms or account registration.
            Usage Data: We collect non-personal information, such as your IP address, browser type, operating system, and usage patterns, to improve our website and services.
            Cookies: We use cookies to enhance user experience, analyze traffic, and store preferences. You can manage cookies through your browser settings.
        
        How We Use Your Information
            To provide and improve our services.
            To respond to inquiries or support requests.
            To analyze website performance and usage trends.
        
        Sharing Your Information
        We do not sell, trade, or share your personal information with third parties, except:
            As required by law or to protect our legal rights.
            With trusted service providers who assist us in operating our website, under strict confidentiality agreements.
        
        Data Security
        We implement reasonable security measures to protect your information. However, no method of data transmission or storage is completely secure. Use the website at your own risk.
        
        Third-Party Links
        Our website may contain links to external sites. We are not responsible for the privacy practices of these sites. Please review their privacy policies independently.
        Your Rights
        
        Changes to This Policy
        We may update this policy from time to time. Changes will be posted on this page with the updated effective date.
        Contact Us
        
        If you have any questions about this privacy policy, please contact us at:
        Email: admin@starlinktrack.com
      </p>
      </div>
    </div>
  </div>
{% endblock %}