<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">  
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">     
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <meta name="format-detection" content="telephone=no">
        {% block scriptsHead %} {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar navbar-expand navbar-light bg-light">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Firmware</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ url_for('firmware.list', listType='dishy') }}">Dishy</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('firmware.list', listType='router') }}">Router</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('firmware.list', listType='app') }}">Mobile App</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('firmware.list', listType='web') }}">Web UI</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('firmware.list', listType='hardware') }}">Hardware</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('firmware.add') }}">Add</a></li>
                    </ul>          
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if g.user %}
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.info') }}">Info</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#donateModal">Donate</a></li>
                    </ul>
                </nav>
            </div>
            
            <div class="row">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <div class="row justify-content-center">
                        <div class="col-8 p-5 text-center">
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} alert-dismissible" role="alert">{{ message }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                {% endwith %}
            </div>

            <div class="row justify-content-center py-5">
                {% block content %}{% endblock %}
            </div>
            
            <div class="modal fade" id="donateModal" tabindex="-1" aria-labelledby="DonateModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Donate</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">  
                            <a class="nav-link" href="https://github.com/sponsors/AliMickey" target="_blank">Github Sponsors</a>
                            <a class="nav-link" href="https://buymeacoffee.com/alimickey" target="_blank">Buy Me A Coffee</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        {% block scriptsBody %} {% endblock %}
        <script async defer data-website-id="9a3361d4-b2b2-4914-bab4-4c49f7790dfb" src="https://analytics.mickit.net/umami.js"></script>
    </body>
</html>