<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Starlink Track - {% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <meta property="og:site_name" content="Starlink Data Tracker"/>
        <meta property="og:type" content="object"/>
        <meta property="og:title" content="Community maintained database for Starlink data"/>
        <meta property="og:description" content="Firmware, Speedtests"/>
        <meta property="og:url" content="https://starlinktrack.com"/>
        <meta property="og:image" content="{{ url_for('static', filename='img/home-gallery-1.jpg') }}"/>
        <meta property="og:image:alt" content="Frontpage image with dishy"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">  
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">     
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.min.css') }}">     
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script async defer data-website-id="9a3361d4-b2b2-4914-bab4-4c49f7790dfb" src="https://analytics.mickit.net/mickit.js"></script>
        {% block scriptsHead %} {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar navbar-expand navbar-light bg-light">
                    {% if dataType == "firmware" %}
                        {% include 'builders/navigation/firmware.html' %}
                    {% elif dataType == "speedtests" %}
                        {% include 'builders/navigation/speedtests.html' %}
                    {% else %}
                        {% include 'builders/navigation/main.html' %}
                    {% endif %}
                    {% include 'builders/navigation/auth.html' %}
                </nav>
            </div>
            
            <div class="row">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <div class="row justify-content-center">
                        <div class="col-8 p-5 text-center">
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} alert-dismissible" role="alert">{{ message }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                {% endwith %}
            </div>

            <div class="row justify-content-center py-5">
                {% block content %}{% endblock %}
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        {% block scriptsBody %} {% endblock %}
    </body>
</html>