{% extends 'builders/base.html' %}

{% block title %}Speedtests{% endblock %}
{% set dataType = "speedtests" %}

{% block scriptsHead %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap5.min.css') }}">
  <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/mapbox-gl.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mapbox-gl.css') }}"/>
  <script>
    $(document).ready(function() {
      var table = $('#dataTable').DataTable({
          "searching": true,
          "ordering": true,
          "order": [0, "dsc"],
          "paging":  false,
          "stateSave": false,
      });

      $('#tableSearch').keyup(function(){ 
        var input = $(this).val();
        // Hide all rows
        $('#dataTable tbody tr').hide();
        // Show each row that contains the input
        var len = $('table tbody td:nth-child(1):contains("' + input + '")').length;
        if (len > 0){
          $('#dataTable tbody td:contains("' + input + '")').each(function(){
              $(this).closest('tr').show();
          });
        };
      });
    });
  </script> 
{% endblock %}

{% block content %}
  <div class="col-11 text-center">
    <p class="fs-1 fw-bold">Starlink Speedtests</p>
    <p class="fs-3">{{ regionName }}</p>
    <div class="mx-auto col-md-2">
      <div class="form-floating">
        <select class="form-select" id="periodSelect" name="period" onfocus="this.currentValue = this.value;" onchange="changeStatPeriod(this.currentValue, this.value);this.currentValue = this.value;" autocomplete="off">
          <option value="day">Day - {{ statDict['day']['count'] }} results</option>
          <option value="week">Week - {{ statDict['week']['count'] }} results</option>
          <option value="month">Month - {{ statDict['month']['count'] }} results</option>
          <option value="year">Year - {{ statDict['year']['count'] }} results</option>
          <option value="all" selected>All - {{ statDict['all']['count'] }} results</option>
        </select>
        <label for="periodSelect">Period</label>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card shadow">
              <div class="card-body">
                <p class="card-title fs-1 fw-bold mb-0">Latency</p>
                <p class="card-title fs-6 m-0">milliseconds</p>
                <div class="col mb-3">
                  <canvas id="statsLatencyChart" height="200"></canvas>
                </div>
                {% for period in ['day', 'week', 'month', 'year', 'all'] %}
                  <div class="row" id="statsLatencyText-{{period}}" {% if period != "all" %}hidden{% endif %}>
                    <div class="row row-cols-3">
                      <div class="col">
                        <p class="card-text fs-5 fw-bold text-nowrap">Minimum</p>
                        <p class="card-text fs-5">{{ statDict[period]['latencyMin'] }}</p>
                      </div>
                      <div class="col">
                        <p class="card-text fs-4 fw-bold text-nowrap">Average</p>
                        <p class="card-text fs-4">{{ statDict[period]['latencyAvg'] }}</p>
                      </div>
                      <div class="col">
                        <p class="card-text fs-5 fw-bold text-nowrap">Maximum</p>
                        <p class="card-text fs-5">{{ statDict[period]['latencyMax'] }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow">
              <div class="card-body">
                <p class="card-title fs-1 fw-bold mb-0">Download</p>
                <p class="card-title fs-6 m-0">megabits/second</p>
                <div class="col mb-3">
                  <canvas id="statsDownloadChart" height="200"></canvas>
                </div>
                {% for period in ['day', 'week', 'month', 'year', 'all'] %}
                  <div class="row" id="statsDownloadText-{{period}}" {% if period != "all" %}hidden{% endif %}>
                    <div class="row row-cols-3">
                      <div class="col">
                        <p class="card-text fs-5 fw-bold text-nowrap">Minimum</p>
                        <p class="card-text fs-5">{{ statDict[period]['downloadMin'] }}</p>
                      </div>
                      <div class="col">
                        <p class="card-text fs-4 fw-bold text-nowrap">Average</p>
                        <p class="card-text fs-4">{{ statDict[period]['downloadAvg'] }}</p>
                      </div>
                      <div class="col">
                        <p class="card-text fs-5 fw-bold text-nowrap">Maximum</p>
                        <p class="card-text fs-5">{{ statDict[period]['downloadMax'] }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow">
              <div class="card-body">
                <p class="card-title fs-1 fw-bold mb-0">Upload</p>
                <p class="card-title fs-6 m-0">megabits/second</p>
                <div class="col mb-3">
                  <canvas id="statsUploadChart" height="200"></canvas>
                </div>
                {% for period in ['day', 'week', 'month', 'year', 'all'] %}
                  <div class="row" id="statsUploadText-{{period}}" {% if period != "all" %}hidden{% endif %}>
                    <div class="row row-cols-3">
                      <div class="col">
                        <p class="card-text fs-5 fw-bold text-nowrap">Minimum</p>
                        <p class="card-text fs-5">{{ statDict[period]['uploadMin'] }}</p>
                      </div>
                      <div class="col">
                        <p class="card-text fs-4 fw-bold text-nowrap">Average</p>
                        <p class="card-text fs-4">{{ statDict[period]['uploadAvg'] }}</p>
                      </div>
                      <div class="col">
                        <p class="card-text fs-5 fw-bold text-nowrap">Maximum</p>
                        <p class="card-text fs-5">{{ statDict[period]['uploadMax'] }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>             
        </div>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="col">
        <p class="fs-4">Recently Submitted</p>
        <table class="table table-striped table-bordered" id="dataTable">
          <thead>
            <tr>
              <th>Measured (UTC)</th>
              <th>Country</th>
              <th>Latency (ms)</th>
              <th>Download (mbps)</th>
              <th>Upload (mbps)</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            {% for id, details in listDict.items() %}
              <tr>
                <td>
                  <span>{{ details['dateRun'] }}</span>
                </td>
                <td>
                  <span><a href="{{ url_for('speedtest.index', region=details['country']) }}" style="text-decoration: none;"><img src="https://cdn.jsdelivr.net/npm/country-flag-icons/1x1/{{ details['country'].upper() }}.svg" width="30"> {{ details['country'].upper() }}</a></span>
                </td>
                <td>
                  <span>{{ details['latency'] }}</span>
                </td>
                <td>
                  <span>{{ details['download'] }}</span>
                </td>
                <td>
                  <span>{{ details['upload'] }}</span>
                </td>
                <td>
                  <a href="{{ details['url'] }}" target="_blank"><img src="{{ url_for('static', filename='img/speedtest.png') }}" width="30px"></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col">
        <div class="col">
          <img id="map-hover" class="img-fluid" src="{{ url_for('static', filename='img/speedtest/placeholder-map.png') }}" style="height: 650px;">
        </div>
        <div id="map" style="height: 650px;" hidden></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scriptsBody %}
  <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dataTables.bootstrap5.min.js') }}"></script>
  <script>
    function changeStatPeriod(currentPeriod, selectedPeriod) {
      ["Latency", "Download", "Upload"].forEach(hideShow)
      function hideShow(item, index, arr) {
        const currentStatDiv = document.getElementById("stats" + item + "Text-" + currentPeriod);
        currentStatDiv.hidden = true
        const selectedStatDiv = document.getElementById("stats" + item + "Text-" + selectedPeriod);
        selectedStatDiv.hidden = false
      }
    }
  </script>  

  <script>
    const ctxStatsLatencyChart = document.getElementById('statsLatencyChart');
    const statsLatencyChart = new Chart(ctxStatsLatencyChart, {
      type: 'bar',
      data: {
        labels: ['Day', 'Week', 'Month', 'Year'],
        datasets: [
          {
            label: 'Latency (ms)',
            backgroundColor: ['rgba(255, 227, 31, 0.7)'],
            borderColor: ['rgba(255, 227, 31, 1)'],
            data: ["{{statDict['day']['latencyAvg']}}", "{{statDict['week']['latencyAvg']}}", "{{statDict['month']['latencyAvg']}}", "{{statDict['year']['latencyAvg']}}"]
          },
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false
          }
        }
      }
    });
  </script>

  <script>
    const ctxStatsDownloadChart = document.getElementById('statsDownloadChart');
    const statsDownloadChart = new Chart(ctxStatsDownloadChart, {
      type: 'bar',
      data: {
        labels: ['Day', 'Week', 'Month', 'Year'],
        datasets: [
          {
            label: 'Download (mbps)',
            backgroundColor: ['rgba(11, 172, 255, 0.7)'],
            borderColor: ['rgba(11, 172, 255, 1)'],
            data: ["{{statDict['day']['downloadAvg']}}", "{{statDict['week']['downloadAvg']}}", "{{statDict['month']['downloadAvg']}}", "{{statDict['year']['downloadAvg']}}"]
          }
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins:{
          legend: {
            display: false
          }
        }
      }
    });
  </script>

  <script>
    const ctxStatsUploadChart = document.getElementById('statsUploadChart');
    const statsUploadChart = new Chart(ctxStatsUploadChart, {
      type: 'bar',
      data: {
        labels: ['Day', 'Week', 'Month', 'Year'],
        datasets: [
          {
            label: '',
            backgroundColor: ['rgba(191, 113, 255, 0.7)'],
            borderColor: ['rgba(191, 113, 255, 1)'],
            data: ["{{statDict['day']['uploadAvg']}}", "{{statDict['week']['uploadAvg']}}", "{{statDict['month']['uploadAvg']}}", "{{statDict['year']['uploadAvg']}}"]
          },
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins:{
          legend: {
            display: false
          }
        }
      },
    });
  </script>  

  <script>
    $('#map-hover').click(
      function() {
        const mapHoverDiv = document.getElementById("map-hover");
        mapHoverDiv.hidden = true
        const mapDiv = document.getElementById("map");
        mapDiv.hidden = false
        mapboxgl.accessToken = "{{ mapboxKey }}";
        let hoveredStateId = null;
        const zoomThreshold = 2;
        var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/light-v10',
          minZoom: 0.9,
          zoom: 0.9,
          center: [21.514, 40.112]
        });
        map.addControl(new mapboxgl.NavigationControl());
        map.addControl(new mapboxgl.FullscreenControl());
        
        // Layer sources
        map.on('load', function() {
          map.addSource('countries', {
            'type': 'vector',
            'url': "mapbox://mapbox.country-boundaries-v1",
            });

          map.addSource('continents', {
            'type': 'geojson',
            'data': "{{ url_for('static', filename='other/continents.geojson') }}",
            'generateId': true
          });

          // Layer colour fills
          map.addLayer({
            'id': 'countries-fills',
            'type': 'fill',
            'source': 'countries',
            'source-layer': 'country_boundaries',
            'minzoom': zoomThreshold,
            'layout': {},
            'paint': {
              'fill-color': '#627BC1',
              'fill-opacity': [
                'case',
                  ['boolean', ['feature-state', 'hover'], false],
                  0.1,
                  0.5   
              ]
            },
            filter: [
              'all',
              ['match', ['get', 'worldview'], ['all', 'US'], true, false],
              ["!=", "true", ["get", "disputed"]],
            ]
            });

          map.addLayer({
            'id': 'continents-fills',
            'type': 'fill',
            'source': 'continents',
            'maxzoom': zoomThreshold,
            'layout': {},
            'paint': {
              'fill-color': '#C2A863',
              'fill-opacity': [
                'case',
                  ['boolean', ['feature-state', 'hover'], false],
                  0.1,
                  0.7
              ]
            }
          });
          
          // Layer borders
          map.addLayer({
            'id': 'countries-borders',
            'type': 'line',
            'source': 'countries',
            'source-layer': 'country_boundaries',
            'layout': {},
            'paint': {
              'line-color': '#627BC1',
              'line-width': 2
            }
          });

          map.addLayer({
            'id': 'continents-borders',
            'type': 'line',
            'source': 'continents',
            'layout': {},
            'paint': {
              'line-color': '#627BC1',
              'line-width': 3
            }
          });
          map.fitBounds([
            ["{{ regionBbox['sw']['lon'] }}", "{{ regionBbox['sw']['lat'] }}"],
            ["{{ regionBbox['ne']['lon'] }}", "{{ regionBbox['ne']['lat'] }}"]
          ]);

          // Get cursor coordinates for development
          // map.on('mousemove', (e) => {
          //   console.log(e.lngLat)
          // });

          // On move listener for layers
          map.on('mousemove', 'countries-fills', (e) => {
            if (e.features.length > 0) {
              if (hoveredStateId !== null) {
                map.setFeatureState(
                  { source: 'countries', sourceLayer: 'country_boundaries', id: hoveredStateId },
                  { hover: false }
                );
              }
              hoveredStateId = e.features[0].id;
              map.setFeatureState(
                { source: 'countries', sourceLayer: 'country_boundaries', id: hoveredStateId },
                { hover: true }
              )
            }
          });

          map.on('mousemove', 'continents-fills', (e) => {
            if (e.features.length > 0) {
              if (hoveredStateId !== null) {
                map.setFeatureState(
                  { source: 'continents', id: hoveredStateId },
                  { hover: false }
                )
              }
              hoveredStateId = e.features[0].id;
              map.setFeatureState(
                { source: 'continents', id: hoveredStateId },
                { hover: true }
              );
            }
          });
          
          // On mouse leave listener for layers
          map.on('mouseleave', 'countries-fills', () => {
            if (hoveredStateId !== null) {
              map.setFeatureState(
                { source: 'countries', sourceLayer: 'country_boundaries', id: hoveredStateId},
                { hover: false }
              );
            }
            hoveredStateId = null;
          });

          map.on('mouseleave', 'continents-fills', () => {
            if (hoveredStateId !== null) {
              map.setFeatureState(
                { source: 'continents', id: hoveredStateId},
                { hover: false }
              );
            }
            hoveredStateId = null;
          });
          
          // Click listener for layers
          map.on("click", 'countries-fills', function(e) {
            var features = map.queryRenderedFeatures(e.point, { layers: ["countries-fills"] });
            if (features.length) {
              // Url must be built seperately as jinja set at render time
              url = "{{ url_for('speedtest.index') }}/region/" + features[0].properties.iso_3166_1.toLowerCase()
              location.href = url
            }
          });

          map.on("click", 'continents-fills', function(e) {
            var features = map.queryRenderedFeatures(e.point, { layers: ["continents-fills"] });
            if (features.length) {
              // Url must be built seperately as jinja set at render time
              url = "{{ url_for('speedtest.index') }}/region/" + features[0].properties.name.toLowerCase()
              location.href = url
            }
          });
        });
      }
    );
  </script>
{% endblock %}