{% extends 'builders/base.html' %}

{% block title %}Firmware - Add{% endblock %}
{% set dataType = "firmware" %}

{% block scriptsHead %}
{% endblock %}

{% block content %}
  <div class="col-md-4">
    <p class="fs-2">Add a New Firmware Version</p>
    <p class="fs-6">Please check that the firmware version has not been submitted already.<br>Changes will go live immediately, be sure you mean it!</p>
    <br>
    <form method="POST" id="addVersionForm">
      <div class="form-floating mb-3">
        <select class="form-select" id="listType" name="listType" required>
          <option value="dishy">Dishy</option>
          <option value="router">Router</option>
          <option value="app">Mobile App</option>
          <option value="web">Web UI</option>
          <option value="hardware">Hardware</option>
        </select>
        <label for="listType" class="col-sm-2 col-form-label">Type</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="version" name="version" maxLength="50" placeholder="Version" required>
        <label for="version">Version</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="redditThread" name="redditThread" maxLength="500" placeholder="https://reddit.com/r/starlink/">
        <label for="redditThread">Reddit Thread</label>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary" name="btn" value="addVersion">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}

{% block scriptsBody %}
{% endblock %}