{% extends 'builders/base.html' %}

{% block title %}Starlink Versions{% endblock %}

{% block scriptsHead %}
{% endblock %}

{% block content %}
  <div class="col-11 text-center"> 
    <p class="fs-1 fw-bold">Starlink Versions</p>
    {% if welcomeMessageCookie == 'false' %}
    <div class="alert alert-primary" role="alert">
      <p class="fs-5">Check out our new <a href="{{ url_for('speedtest.index') }}">speedtests</a> tracker (accessible via the 'Speed' navbar button)</p>
      <p class="fs-5">Please consider <a href="{{ url_for('main.info') }}#contact">donating</a> to support this website and future development.</p>
    </div>
    {% endif %}
    <div class="mx-auto d-block w-25">
      <img src="{{ url_for('static', filename='img/home-gallery-{}.jpg'.format(range(1, 3) | random )) }}" class="d-block w-100">
    </div>
    <br><br>
    <p class="fs-4"> Recent Dishy (Antenna) Firmware</p>
    <table class="table table-striped table-bordered" id="dataTable">
      <thead>
        <tr>
          <th>Added (UTC)</th>
          <th>Version</th>
          <th>Discussion</th>
        </tr>
      </thead>
      <tbody>
        {% for id, details in listDict.items() %}
        <tr>
          <td>{{ details['dateAdded'] }} <p hidden>{{ details['id'] }}</p></td>
          <td>
            {% if request.MOBILE == True %}
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ details['version'] }}">
                  <span class="font-monospace">{{ details['version'][:8] }}</span>
                </button>
            {% else %}
              <span class="font-monospace"><b>{{ details['version'][:8] }}</b>{{ details['version'][8:] }}</span>
            {% endif %} 
          </td>
          <td>
            {% if details['reddit'] %}
              <a href="{{ details['reddit'] }}" target="_blank"><img src="{{ url_for('static', filename='img/reddit.png') }}" width="30px"></a>
            {% else %}
              <span>N/A</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <footer class="footer  border-top text-center mt-auto py-3">
      <span class="text-muted">
          This site is NOT affiliated with Starlink or SpaceX. View the source code for this website on <a class="text-decoration-none" href="https://github.com/AliMickey/starlink-firmware-track" target="_blank">GitHub</a>
      </span>
    </footer>
  </div>
{% endblock %}

{% block scriptsBody %}
  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  </script>
{% endblock %}